---
import "../styles/styles.scss";
import Layout from "./Layout.astro";
const { frontmatter } = Astro.props;
---

<Layout title={frontmatter.title}>
	<main>
		<div class="content">
			<h1>{frontmatter.title}</h1>

			<div class="post-image-container">
				<img
					class="post-img shadow-img"
					src={frontmatter.image.url}
					width="300"
					alt={frontmatter.image.alt}
				/>
			</div>
			<slot />
		</div>

		<p class="article-meta">
			Written by {frontmatter.author}<br />
			Last updated on {new Date(frontmatter.pubDate).toLocaleDateString()}
		</p>
	</main>
</Layout>

<style lang="scss">
		body {
		height: fit-content;
	}

	h1 {
		text-align: center;
		padding-top: 0.75rem;
		padding-bottom: 0.5rem;
		font-size: 2rem;
	}
	main {
		color: #444;
	}
	.post-image-container {
		display: flex;
		justify-content: center;
	}
	.post-img {
		margin-top: 1rem;
		margin-bottom: 1rem;
	}
	.article-meta {
		padding: 1rem;
		padding-top: 2rem;
		margin-top: -1rem;
		border-radius: 0 0 10px 10px;
		background: var(--white);
		font-style: italic;
		line-height: 1.0;
		font-weight: 500;
		z-index: -10;
    position: relative;

		box-shadow:
		0 4px 6px -1px rgba(0, 0, 0, 0.1),
		0 2px 4px -2px rgba(0, 0, 0, 0.1);

		@media (max-width: 700px) {
			// padding: 1rem;
			// background: var(--white-alt);
			// color: var(--black);
			box-shadow: none;
			// border-radius: 0;
		}
	}
</style>
